/* All */

body {
  font-family: 'Bitter', serif;
  margin: 0;
  background: url("houndstooth-pattern.png");
}
  
/* index.html */

.titleCenterIndex {
    text-align: center;
    padding-top: 25%;
    font-size: 2em;
}

i{
  color: rgb(63, 62, 62);
}

.myButton {
  display: block;
  width: 50%;
  height: auto;
  border: 0px;
  padding: 15px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  font-size: 25px;
}

.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #202020), color-stop(1, #5f6362));
	background:-moz-linear-gradient(top, #696969 5%, #5f6362 100%);
	background:-webkit-linear-gradient(top, #696969 5%, #202020 100%);
	background:-o-linear-gradient(top, #696969 5%, #5f6362 100%);
	background:-ms-linear-gradient(top, #696969 5%, #5f6362 100%);
	background:linear-gradient(to bottom, #696969 5%, #5f6362 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#202020', endColorstr='#5f6362',GradientType=0);
  background-color:#474646;
  color: white;
}

.myButton:active {
	position:relative;
	top:1px;
}

 .indexButton {
  padding-top: 10%;
}

/* sign-up.html + login.html */

fieldset {
  border: 0;
  margin: 0;
}

.signup-form {
  border-radius: 20px;
  background: white;
  border: 2px solid darkgrey;
  padding: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 500px;
}

legend {
  width: 100%;
  text-align: center;
  font-weight: 300;
  font-size: 35px;
  color: #565656;
  margin: 0 auto 45px;
}

.loginExisting {
  text-align: center;
  color: black;
}

.forForm {
  display: block;
  width: 100%;
  height: auto;
  padding: 15px;
  margin-top: 10px;
  font-size: 25px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid black;
}

input[type="radio"]{
  margin-top: 20px;
  margin-right: auto;
  width: 15%;
  height: 20px;
}
.radioButton{
    font-size: 1.2em;
    margin: 0 auto;
    margin-top: 10px;
    text-align: left;
}

.formButton {
  display: block;
  width: 100%;
  height: auto;
  border: 0px;
  padding: 15px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  font-size: 25px;
}

.formButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #202020), color-stop(1, #5f6362));
	background:-moz-linear-gradient(top, #696969 5%, #5f6362 100%);
	background:-webkit-linear-gradient(top, #696969 5%, #202020 100%);
	background:-o-linear-gradient(top, #696969 5%, #5f6362 100%);
	background:-ms-linear-gradient(top, #696969 5%, #5f6362 100%);
	background:linear-gradient(to bottom, #696969 5%, #5f6362 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#202020', endColorstr='#5f6362',GradientType=0);
  background-color:#474646;
  color: white;
}

.formButton:active {
	position:relative;
	top:1px;
}

label {
  font-size: 1.2em;
}

  /* to Login page or Sign up page */

  h3 {
    text-align: center;
    font-size: 1.3em;
  }

  .loginExisting, .toSignUp {
    color: blue;
    text-decoration: none;
    font-size: 1.3em;
  }

  /* Error messages */

  .js-errorsUser, .js-errorsPass, .js-errorIncorrect {
    color: red;
    text-align: center;
    font-size: 1.3em;
  }



/* Student Dashboard */

  .Greeting {
    text-align: center;
    font-size: 1.7em;
  }

/* dash-teacher.html */

  .teacherDash {
    font-size: 3em;
    text-align: center;
  }

  .forDashboard {
    border-radius: 10px;
    font-size: 25px;
    background-color: white;
  }

  .forDates {
    margin-top: 30px;
  }
  
  .submitAssignment {
    display: block;
    width: 50%;
    height: auto;
    border: 0px;
    padding: 15px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    font-size: 25px;
  }
  
  .submitAssignment:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #202020), color-stop(1, #5f6362));
    background:-moz-linear-gradient(top, #696969 5%, #5f6362 100%);
    background:-webkit-linear-gradient(top, #696969 5%, #202020 100%);
    background:-o-linear-gradient(top, #696969 5%, #5f6362 100%);
    background:-ms-linear-gradient(top, #696969 5%, #5f6362 100%);
    background:linear-gradient(to bottom, #696969 5%, #5f6362 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#202020', endColorstr='#5f6362',GradientType=0);
    background-color:#474646;
    color: white;
  }
  
  .submitAssignment:active {
    position:relative;
    top:1px;
  }

  .assignmentList {
    list-style-type: none;
  }

  .showAssignment {
    text-align: center;
    font-size: 20px;
  }

  .assignmentForm {
    padding: 2%;
    text-align: center;
    background-color: white;
    margin-left: 15%;
    margin-right: 15%;
    border: 0;
    border-radius: 20px;
  }

  .assignmentColor{
    color: blue;
  }
  
  .button-label {
    height: auto;
    border: 2px solid #DDDDDD;
    padding: 15px;
    margin-top: 10px;
    border-radius: 20px;
    font-size: 25px;

  }

/* Nav bar */

.topnav {
  overflow: hidden;
  background-color:grey;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  color: white;
}

.topnav .icon {
  display: none;
}

.js-hidden{
display:none;
}

/* mobile grid */
@media only screen and (max-width: 575px){

  /* index.html */

  .titleCenterIndex {
    text-align: center;
    padding-top: 5%;
  }

  i {
    font-size: .75em;
  }

  .myButton{
    width: 100%;
  }

  .indexButton {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  h1 {
    font-size: 1.5em;
  }
  
  /* sign-up.html */

  h3 {
    font-size: 1em;
  }
  .toForm {
    padding: 25px 10px;
    margin: 25px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    background: #2C3E50;
    font-size: 25px;
    font-weight: 700;
    color: white;
    border: 0;
    cursor: pointer;
    border-radius:  5px;
    transition: opacity 0.4s;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  input[type="radio"]{
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .radioButton{
      color: black;
      text-align: center;
      display: block;
  }

  /* nav bar */

  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .signup-form{
    width: 85%;
    padding-right: 6%;
    padding-left: 6%;
    padding-top: 6%;
  }

  /* dash-teacher.html */

  .assignmentForm {
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: white;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    border: 0;
    border-radius: 20px; 
  }

  .submitAssignment {
    display: block;
    width: 100%;
    height: auto;
    border: 0px;
    padding: 15px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    font-size: 25px;
  }

  .addAssgn{
    float:left;
  }
  label {
    font-size: 1em;
  }
  .teacherDash {
    font-size: 1.5em;
    text-align: center;
  }

  .forDashboard {
    border-radius: 10px;
    font-size: 16px;
    margin-top: 0;
  }

  .forDates {
    margin-top: 20px;
  }

}

/* need CSS fix on:
 1. list of assignments
 2. student dashboard

 need fix in general:
 1. error messages
 2. Passing tests ***
*/



